body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.popular-today {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

.card, .release-card {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img, .release-card img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.card-info, .info {
    display: flex;
    flex-direction: column;
}

.card-info p, .info p, .info h3 {
    margin: 0;
    font-size: 0.9em;
}

.release-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.release-card {
    width: calc(33.333% - 20px);
}

.release-card img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}
